Repository scottyroges/testing-codecov-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: project1, project2

codecov.yaml:

coverage:
  status:
    project: off
    patch:
      default:
        target: 80
        threshold: 5
        if_no_uploads: success
        if_not_found: success
flags:
  project1:
    paths:
      - project1
  project2:
    paths:
      - project2

adding more scripts
  project1/scripts/unittests_from_project.sh
  project1/scripts/unittests_from_root.sh
  project2/scripts/unittests_from_project.sh
  project2/scripts/unittests_from_root.sh
Due: project1, project2

modified script
  project1/scripts/unittests_from_project.sh
Due: project1

changed script
  project2/scripts/unittests_from_project.sh
Due: project2

dumb change 1
  changes.txt
Due: none

dumb change 2
  changes.txt
Due: none

updating codecov
  changes.txt
  codecov.yaml
Due: none

dumb change 4
  changes.txt
Due: none
